@charset "UTF-8";

/* estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: aliceblue;
}

header > h1 {
    text-align: center;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(86, 99, 110);
    color: white;
}

menu ul {
    list-style-type: none;
    background-color: aliceblue;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}