@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 235px;
    margin-left: -10px;
    margin-right: -10px;
}

header > h1 {
    padding-top: 65px;
    margin: -30px;
    height: 135px;
}

h1 {
    font-size: 100px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-weight: 900;
}